<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
    <mat-toolbar>
      <span>Menú</span>
      <span class="spacer"></span>

    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item
        [routerLink]="'./list'"
        (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>label</mat-icon>
        Listado
      </mat-list-item>

      <mat-list-item
        [routerLink]="'./list'"
        (click)="sidenav.toggle()">
        <mat-icon matListItemIcon fontIcon="favorite"></mat-icon>
        Favoritos
      </mat-list-item>

      <mat-list-item
        [routerLink]="'./search'"
        (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>search</mat-icon>
        Buscar
      </mat-list-item>

      <mat-list-item
        [routerLink]="'./list'"
        (click)="findByCategory('now_playing')">
        <mat-icon matListItemIcon fontIcon="cast_connected"></mat-icon>
        En cartelera
      </mat-list-item>

      <mat-list-item
        [routerLink]="'./list'"
        (click)="findByCategory('top_rated')">
        <mat-icon matListItemIcon fontIcon="star_rate"></mat-icon>
        Mejor valoradas
      </mat-list-item>

      <mat-list-item
        [routerLink]="'./list'"
        (click)="findByCategory('upcoming')">
        <mat-icon matListItemIcon fontIcon="upcoming"></mat-icon>
        Proximamente
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary" class="div-button">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <button
      mat-button
      (click)="logOut()">
      Logout
    </button>

  </mat-toolbar>


  <div class="container p-2">

    <router-outlet></router-outlet>

  </div>

</mat-sidenav-container>
